.home-container {
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 20px;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-bottom: 60px;
}

.home-content-container h1 {
  font-size: 1em;
  width: 260px;
  margin-bottom: 15px;
}

.home-content-container p {
  width: 260px;
  color: #9E9E9E;
  font-size: 0.6em;
  margin-bottom: 30px;
}

.home-image-container {
  padding: 50px 15px;
}

.home-image-container svg {
  width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  .home-container {
    padding: 5px;
    font-size: 40px;
    padding: 20px;
  }

  .home-content-container h1 {
    width: 506px;
    margin-bottom: 20px;
  }

  .home-content-container p {
    width: 506px;
    margin-bottom: 20px;
  }

  .home-image-container svg {
    width: 506px;
  }
}

@media (min-width: 768px) {
  .home-image-container {
    padding: 100px 15px;
  }

  .home-content-container {
    padding: 20px;
    padding-bottom: 100px;
  }
}

@media (min-width: 992px) {
  .home-container {
    font-size: 55px;
    padding: 40px;
  }

  .home-image-container {
    padding: 125px 15px;
  }

  .home-content-container {
    padding-bottom: 150px;
  }

  .home-content-container h1 {
    width: 600px;
    margin-bottom: 26px;
  }

  .home-content-container p {
    width: 600px;
    margin-bottom: 47px;
  }
}

@media (min-width: 1200px) {
  .home-card {
    flex-direction: row;
    justify-content: space-around;
    padding: calc((100vh - 630px) / 2) 0;
  }

  .home-content-container {
    height: 480px;
    width: 640px;
    padding: 20px;
    text-align: left;
    align-items: flex-start;
    flex-flow: wrap;
    align-content: space-between;
  }

  .home-image-container {
    width: 560px;
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .home-image-container svg {
    width: 100%;
  }
}